.btn {
  display: block;
  padding: 13px 26px;

  @include setFont(14px, 16px, bold);
  font-family: $rc;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: $white;

  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $white;
    background-color: $blue;
    text-decoration: underline;
  }

  &:active {
    color: $white;
    background-color: $blue;
    text-decoration: underline;
    opacity: 0.4;
  }
}
