.btn {
  display: block;
  padding: 14px 13px 8px 12px;

  @include setFont(14px, 16px, bold);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: $white;

  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    // background-color: $orange;
  }

  &:active {
    // background-color: $orange;
  }
}
