.company {
  @include bgimg(
    transparent,
    url("../img/triangles-desktop@1x.png"),
    $position: bottom 64% right 8.7%
    );
  background-size: 2243px 1347px;

  @media #{$retina} {
    background-image: url("../img/triangles-desktop@2x.png");
  }
}

@media #{$tablet-only} {
  .company {
    @include bgimg(
      transparent,
      url("../img/triangle-tablet@1x.png"),
      $position: bottom 62.5% right 307%
      );
    background-size: 872px 873px;


    @media #{$retina} {
      background-image: url("../img/triangle-tablet@2x.png");
    }
  }
}

@media #{$mobile-only} {
  .company {
    background-position: bottom 29.2% right 78.2%;
  }
}
