.footer {
  background-color: $light-gray3;

  a,
  p {
    color: rgba($dark-blue, 0.5);
    font-family: $ptm;
  }
}

.footer__wrapper {
  margin: 0 auto;
  max-width: 1417px;
  overflow: hidden;
}

.footer__top {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
  padding: 65px 0 5px;
}

.footer__left {
  padding: 0 14.68% 0 0;

  img {
    @include size(216px, 52px);
  }

  p {
    display: none;
  }
}

.footer__social-lit {
  @include list(55px 0);
  margin: 0 -8px;
  display: flex;
  flex-wrap: wrap;
}

.footer__social-item {
  margin: 0 8px;

  svg {
    fill: $light-gray2;

    &:hover {
      fill: $blue;
    }
  }
}

.footer__right {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;

  h3 {
    margin: 0;
    padding-bottom: 25px;

    @include setFont(15px, 16px, normal);
    color: $dark-blue;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.footer__right-first {
  min-width: 500px;
}

.footer__list {
  @include list(0 0 50px 0);
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 150px;

  li {
    padding-right: 5px;
  }

  a {
    @include setFont(15px, 25px, normal);
  }
}

.footer__bottom {
  border-top: 1px solid rgba($light-gray4, 0.2);
}

.footer__bottom-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: -342px;

  a,
  p {
    margin-top: 15px;
    margin-bottom: 15px;

    @include setFont(13px, 24px, normal);
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  a {
    margin-left: 65px;
    margin-right: 342px;
  }

  p {
    margin-right: 75px;
  }
}

@media #{$tablet-only} {
  .footer__wrapper {
    max-width: none;
  }

  .footer__top {
    padding: 0;
  }

  .footer__left {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 19px 25px 17px;
    width: 100%;
    border-bottom: 1px solid rgba($light-gray4, 0.2);

    p {
      display: block;
      margin: 0 0 0 15px;
      padding: 18px 0;

      @include setFont(13px, 24px, normal);
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }
  }

  .footer__social-lit {
    padding: 13px 0;
  }

  .footer__right {
    padding: 40px 25px 35px;
    width: 100%;
    flex-grow: 0;
  }

  .footer__right-first {
    min-width: auto;
  }

  .footer__list {
    padding: 0;
    max-height: none;

    li {
      padding-right: 10px;
    }
  }

  .footer__bottom {
    padding: 10px 25px;
    width: 100%;
  }

  .footer__bottom-content {
    justify-content: space-between;
    margin-right: 0;

    a {
      margin: 0;
      padding: 10px 0;
    }

    p {
      display: none;
    }
  }
}

@media #{$mobile-only} {
  .footer__left {
    flex-direction: column;
    align-items: center;
    padding: 45px 15px 37px;
    border: none;

    img {
      @include size(216px, 52px);
    }

    p {
      margin: 0;
      padding: 25px 0 20px;
    }
  }

  .footer__right {
    padding: 0;

    h3 {
      // position: relative;
      padding: 30px 0 25px;
      // cursor: pointer;

      // &::before,
      // &::after {
      //   @include pseudo();
      //   background-color: $light-gray5;
      // }

      // &::before {
      //   @include size(16px, 1px);
      //   top: 37px;
      //   right: 2px;
      // }

      // &::after {
      //   @include size(1px, 16px);
      //   top: 29px;
      //   right: 10px;
      // }
    }
  }

  .footer__right-first,
  .footer__right-second {
    width: 100%;
    padding: 0 15px;
    border-top: 1px solid rgba($light-gray4, 0.2);
  }

  .footer__list {
    padding: 5px 0 27px;
  }


  .footer__bottom {
    padding: 17px 15px;
  }

  .footer__bottom-content {
    flex-direction: column;
  }
}
