.main-nav {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 33px 0 0;
  max-width: 1412px;
}

.main-nav__logo {
  &img {
    @include size(202px, 52px);
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include list(0);
  margin: 0;
}

.main-nav__item {
  padding: 0 20px;
}

.main-nav__link {
  @include setFont(16px, 18px, normal);
  font-family: $ptm;


  svg {
    margin-right: 18px;
  }
}

.main-nav__button {
  margin-right: 2px;
}

@media #{$tablet-only} {

}

@media #{$mobile-only} {

}
