.page-header {
  @include bgimg(
    $dark-blue,
    url("../img/mask group top-desktop@1x.png"),
    $position: center 0
  );
  background-size: cover;

  @media #{$retina} {
    background-image: url("../img/mask group top-desktop@2x.png");
  }
}

@media #{$tablet-only} {

}

@media #{$mobile-only} {

}
