.panel {

}

.panel__item {
  h3 {
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
      @include pseudo();
      background-color: $light-gray5;
      display: none;
    }

    &::before {
      @include size(16px, 1px);
      display: block;
      top: 37px;
      right: 2px;
    }
  }

  &--closed {
    h3 {
      &::after {
        @include size(1px, 16px);
        display: block;
        top: 29px;
        right: 10px;
      }
    }
  }
}

.panel__body {

}

.panel__item--closed .panel__body {
  display: none;
}

.panel__item--opened .panel__body {
  display: flex;
}

// .panel__item--opened {
//   h3 {
//     &::before {
//       @include size(16px, 1px);
//       top: 37px;
//       right: 2px;
//     }
//   }

//   &.panel__body {
//     display: flex;
//   }
// }

// .panel__body--closed.panel__body {
//   display: none;
// }

// .panel__body--opened.panel__body {
//   display: flex;
// }
