.products {
  h2 {
    margin: 0 0 52px;

    @include setFont(36px, 51px, normal);
  }
}

.products__wrapper {
  margin: 0 auto;
  padding: 87px 0 126px;
  max-width: 1170px;
  overflow: hidden;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include list(0);
  margin: 0 -15px;
}

.products__item {
  margin: 0 15px;
}

.products__link {
  position: relative;
  overflow: hidden;

  h3 {
    position: absolute;
    top: 50px;
    left: 44px;
    margin: 0;

    @include setFont(20px, 30px, normal);
    width: 170px;
  }

  img {
    @include size(370px, 620px);
    opacity: 0.2;
  }

  &::after {
    @include size(63px, 63px);
    @include pseudo(url("../img/icon-arrow.svg"), flex);
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    background-color: $blue;
  }
}

@media #{$tablet-only} {
  .products {
    h2 {
      margin: 0 0 49px;

      @include setFont(32px, 45px, normal);
    }
  }

  .products__wrapper {
    padding: 50px 0 77px;
    max-width: 93.4%;
  }

  .products__list {
    flex-direction: column;
    align-items: center;
    margin: -23px -15px;
  }

  .products__item {
    margin: 23px 15px;
  }

  .products__link {
    h3 {
      top: 40px;
      left: 45px;
    }

    img {
      @include size(720px, 256px);
    }
  }
}

@media #{$mobile-only} {
  .products {
    h2 {
      margin: 0 0 43px 10px;

      @include setFont(28px, 39px, normal);
    }
  }

  .products__wrapper {
    padding: 50px 0 64px;
    max-width: 90.625%;
  }

  .products__list {
    margin: -15px;
  }

  .products__item {
    margin: 15px;
  }

  .products__link {
    h3 {
      top: 20px;
      left: 35px;
    }

    img {
      @include size(290px, 256px);
    }
  }
}
