.question {
  h3 {
    margin: 0;

    @include setFont(36px, 51px, normal);
  }

  p {
    margin: 0;
    padding: 10px 0 30px 5px;

    @include setFont(16px, 22px, normal);
  }
}

.question__form {
  margin: 0 0 0 5px;

  label {
    position: relative;
    display: block;
  }

  input,
  textarea {
    padding: 14px 16px;
    width: 270px;

    @include setFont(16px, 22px, normal);
    font-family: $ptm;
    color: $dark-blue;

    background: $blue-light;
    border: none;

    &::placeholder {
      color: $white;
    }
  }

  textarea {
    @include size(570px, 154px);
    resize: vertical;
  }
}

.question__group {
  margin: 0;
  padding: 0;
  border: none;
}

.question__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;

  @include list(20px 0 40px);
}

.question__bottom {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;

  label {
    cursor: pointer;

    padding: 0 0 0 32px;
    width: 230px;
    box-sizing: content-box;

    @include setFont(14px, 16px, normal);
    font-family: $ptm;
    color: $white;

    &::before {
      @include pseudo();
      @include size(15px, 15px);
      border: 1px solid $white;
      top: 2px;
      left: -2px;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.4;
      text-decoration: underline;
    }
  }

  input {
    top: 60px;
    left: 315px;

    &:focus + label::before {
      outline: $white solid 2px;
    }

    &:checked + label::after {
      @include pseudo();
      @include size(9px, 6px);
      @include bgimg(transparent, url("../img/icon-check.svg"));
      top: 7px;
      left: 2px;
    }
  }
}

.question__button {
  width: 270px;
}

.modal {
  h3 {
    @include setFont(28px, 39px, normal);
  }

  p {
    padding: 13px 10px 16px 0;
  }

  .question__form {
    margin: 0;

    input,
    textarea {
      padding: 14px 25px;
      width: 412px;
    }

    textarea {
      height: 104px;
    }
  }

  .question__list {
    flex-direction: column;
    padding: 0 0 15px;
  }

  .question__item {
    padding: 16px 0;
  }

  .question__bottom {
    padding: 25px 0;

    label {
      padding: 0 0 0 47px;
      width: 340px;
    }

    input {
      top: 120px;
      left: -48px;
    }
  }

  .question__button {
    width: 412px;
    padding: 15px 26px;
    margin-bottom: 35px;
  }
}

@media #{$tablet-only} {
  .question {
    h3 {
      @include setFont(32px, 45px, normal);
    }

    p {
      padding: 15px 0 30px 5px;
    }
  }

  .question__form {
    input,
    textarea {
      width: 279px;
    }

    textarea {
      @include size(590px, 160px);
    }
  }

  .question__list {
    padding: 25px 0 43px;
  }

  .question__bottom {
    padding: 42px 0;

    label {
      padding: 0 8px 0 32px;
    }

    input {
      top: 60px;
      left: 325px;
    }
  }

  .question__button {
    width: 280px;
  }
}

@media #{$mobile-only} {
  .question {
    h3 {
      @include setFont(28px, 39px, normal);
    }

    p {
      padding: 13px 0 11px;
    }
  }

  .question__form {
    margin: 0;

    input,
    textarea {
      padding: 12px 16px 17px;
      width: 100%;
    }

    textarea {
      @include size(100%, 104px);
      margin-top: 17px;
    }
  }

  .question__list {
    flex-direction: column;
    padding: 0;
  }

  .question__item {
    padding: 15px 0;
  }


  .question__bottom {
    flex-direction: column;
    align-items: flex-start;
    padding: 27px 0;

    label {
      padding: 0 13px 0 34px;
      margin-top: 31px;
      width: 85%;

      &::before {
        left: 0;
      }
    }

    input {
      top: 115px;
      left: 8px;

      &:checked + label::after {
        left: 4px;
      }
    }
  }

  .question__button {
    width: 100%;
  }
}
