.questions {
  @include bgimg(
    $blue,
    url("../img/bgimg-form-desktop@1x.png"),
    $position: bottom 37% left 175px
  );

  @media #{$retina} {
    background-image: url("../img/bgimg-form-desktop@2x.png");
  }

  img {
    margin-right: 42px;
    padding: 161px 0 10px 0;
    box-sizing: content-box;

    @include size(511px, 288px);
  }
}

.questions__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0 auto;
  max-width: 1220px;
  overflow: hidden;
}

.questions__window {
  margin-left: 42px;
  padding: 92px 25px 74px;
}

@media #{$tablet-only} {
  .questions {
    background-image: none;

    img {
      display: none;
    }
  }

  .questions__window {
    margin: 0;
    padding: 81px 25px 61px;
  }
}

@media #{$mobile-only} {
  .questions__window {
    padding: 30px 15px 16px;
  }
}
