//Цвета
$white: white;
$light-grey: #ebebeb;
$black: black;
$dark-blue: #1b2d37;
$gray: #666666;
$blue: #00b2ff;
$light-gray2: #cdcdcd;
$light-gray3: #fafafa;
$light-gray4: #626962;

// Размеры
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1023px;
$desktop-width: 1024px;
$desktop-width-max: 1170px;

//Шрифты
$ptm: "PT Mono", "Courier New", monospace;
$rc: "Roboto Condensed", "Arial", sans-serif;

//Медиа выражения
$mobile: "(min-width: #{$mobile-width})";
$tablet: "(min-width: #{$tablet-width})";
$desktop: "(min-width: #{$desktop-width})";

$mobile-only: "(max-width: #{$mobile-width-only})";
$tablet-only: "(max-width: #{$tablet-width-only})";

$retina-dppx: 1.5dppx;
$retina: "(min-resolution: #{$retina-dppx})";

// Desktop First
// @media #{$tablet-only} {
// }
// @media #{$mobile-only} {
// }

// Mobile first
// @media #{$tablet} {
// }
// @media #{$desktop} {
// }

// @media #{$retina} {
// }
